DEBUG=false
SECRET_KEY=generez-avec-django-get_random_secret_key
ALLOWED_HOSTS=votre-domaine.com
CSRF_TRUSTED_ORIGINS=https://votre-domaine.com
POSTGRES_DB=cadastre
POSTGRES_USER=cadastre
POSTGRES_PASSWORD=mot-de-passe-fort
POSTGRES_HOST=db
POSTGRES_PORT=5432
